<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Интерфейс для оператора call-центра</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h2>Список заданий</h2>
        <div>
            <form action="#" th:action="@{/callcenter}" th:object="${findForm}" method="post">
                Поиск: <input type="text" th:field="*{number}" placeholder="Введите номер заказа"/>
                <input type="submit" name="find" value="Найти"/>
                <input type="submit" name="reset" value="Сбросить"/>
            </form>
            <br/>
            <table border="1">
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата и время добавления задания</th>
                    <th>Статус</th>
                </tr>
                <tr th:each="task : ${tasks}" th:style="${task.checked} ? ${'background-color: #dadada;'}">
                    <td align="center" th:utext="${task.number}"></td>
                    <td align="center" th:utext="${#dates.format(task.date, 'dd-MM-yyyy HH:mm')}"></td>
                    <td align="center">
                        <form th:action="@{/callcenter/checked/{id}(id=${task.id})}" th:object="${task}" method="post">
                            <input type="submit"
                                   th:value="${!task.checked} ? 'Закрыть' : 'Закрыто'"
                                   th:disabled="${task.checked}"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>